* {
    overflow-wrap: break-word;
}

body {
    margin: 0;
    padding: 0;

}

header {
    height: 70vh;
    opacity: 0.7;
    background-image: url("12.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* to get paralax effect*/
}

.navList {
    font-size: 1.5rem;
    list-style: none;
    padding-left: 0;
    margin: 0;
    text-align: center;

}

.text-center {
    text-align: center;
}

.navList li {
    display: inline;
    margin: 5px;
}

.navList li a {
    color: aliceblue;
    text-decoration: none;
    transition: color 0.5sec, border-bottom 4 sec;
}

.navList li a:hover {
    background-color: rgb(230, 109, 206);
    color: black;
    opacity: 0.8;

}

#myname {
    font-size: 3rem;
    color: aliceblue;
    font-weight: 600;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
}

.name-icon {
    margin-top: 20vh;
}

.social-icon li {
    display: inline;
}

.social-icon li a i {
    padding: 14px;
    font-size: 1rem;
    color: white;
    border-radius: 50%;

}
a{
    text-decoration: none;
}
.social-icon li a i:hover {
    box-shadow: 0px 0px 6px 6px;
}

#about {
    width: 100%;
    height: auto;
    position: relative;
}

.mypic {
    height: 10rem;
    width: 10rem;
    margin: auto;
    margin-top: -15vh;
}

.mypic img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 7px 0px;
}

.highlight {
    color: rgb(182, 48, 171);

}

#textaboutme {
    font-size: 1.5rem;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
section:nth-child(2n+1) {
    background-color: #9e9b9b29;
}
.sechead {
    width: auto;
    font-weight: 50;
}

.sechead span {
    font-size: 25px;
    color: rgb(182, 48, 171);
    /* display: inline-block;
    margin-right: 0.5rem; */
}

.showSkill {
    width: 70%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4.5rem;
}

.skillBar {
    height: 2rem;
    width: 8.5rem;
    background-color: rgb(145, 159, 172);
    border-radius: 20px;
    margin: 1.2rem;
    /* margin-right: 6rem; */


}

.skills {
    border-radius: 20px;
    height: inherit;
}

.Cpp {
    width: 80%;
    background-color: rgb(92, 48, 195);

}

.HTML {

    width: 88%;
    background-color: rgb(31, 112, 53);

}

.CSS {

    width: 78%;
    background-color: rgb(128, 41, 125);

}

.JS {

    width: 70%;
    background-color: rgb(230, 154, 68);

}

.Bootstrap {

    width: 85%;
    background-color: rgb(77, 186, 200);

}

.Java {

    width: 70%;
    background-color: rgb(92, 48, 195);

}

.skillName span {
    color: rgb(244, 246, 248);
    font-size: 1.2rem;
    margin-left: 2rem;
}


.sechead span {
    font-size: 45px;
    color: rgb(182, 48, 171);
    display: inline-block;
    margin-right: 0.5rem;
}

#portfolio-container {
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 50px;
   
    margin-bottom: 2%;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-details {
 
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
  
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #668fa3;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #2f2b2b78;
    /* display: block; */
    color: white;
  align-items: center;
   
}

#contact {



    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
   
    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
}

.my-details-info-container span {
    margin-left: 0.4rem;
    font-size: 0.95rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: var(--contact-light-text-color);
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}



#contact-form button[type="submit"] {
    background: transparent;
    /*#1a1a1a;*/
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {

    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/*common color classes */

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ff5722;
}


.mb-teal {
    background-color: #009688;
}

.mb-light-purple {
    background-color: #93738c;
}

.m-blue {
    color: #2857a4;
}

/*Common Percent classes*/
.eighty-percent {
    height: inherit;
    width: 80%;
}

.eighty-five-percent {
    height: inherit;
    width: 80%;
}

.seventy-five-percent {
    height: inherit;
    width: 75%;
}

/* common margin classes */
.m0 {
    margin: 0;
}


.timeline{
    position: relative;
    /* border: 2px solid red; */
    width: 75%;
}

.timeline-box{
    position: relative;
    margin: 5px;
    /* border: 2px solid rgb(0, 0, 0); */
    width: 40%;
    left: 5%;
    min-height: 150px;
    background-color: #ecc8ec;
}

/* even child should be right */
.timeline-box:nth-child(2n){
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after{
    content: '';
    z-index: 1;
    position: absolute;
    top: 55%;
    right: -12%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgb(179, 71, 35);
    border-radius: 50%;   
  
}

.timeline-box:nth-child(2n)::after{
    content: '';
    z-index: 1;
    position: absolute;
    top: 50%;
    left: -10%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgb(179, 71, 35);
    border-radius: 50%;    
}

.timeline-divider{
    position: absolute;
    height: 65%;
    width: 0;
    border: 2px dashed rgb(61, 139, 185);
    top: 18%;
    left: 50%;
}

.timeline-aeroplane{
    z-index: 2;
    position: sticky;
    top: 50%;
    transform: rotate(90deg);
}